<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8"/>
    <title>Page des TER de M1</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Page des TER de M1</h1>
(cette page est un peu aride !)
<br/>


<a th:href="@{/listTeachers}">Teachers List</a>
<br/>
<a th:href="@{/listStudents}">Students List</a>
<br/>
<a th:href="@{/listSubjects}">Subjects List</a>
<br/>
<a th:href="@{/listWorkGroup}">WorkGroup List</a>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>