<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>WorkGroup List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>WorkGroup List</h1>
<a href="addWorkGroup">Add Group</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Group name</th>
            <th> Students</th>
            <div sec:authorize="hasRole('ROLE_STUDENT')">
                <th>Inscription</th>
            </div>
            <th>Update/Delete</th>

        </tr>
        <tr th:each ="workGroup : ${workGroups}">
            <td th:utext="${workGroup.nomGroup}">...</td>
            <td>
                <div th:each="student : ${workGroup.students} ">
                    <p th:utext="${student.firstName + ' ' + student.lastName}"></p>
                </div>

            </td>
            <div sec:authorize="hasRole('ROLE_STUDENT')">
                <td>
                    <a th:href="@{/registration/{id}(id=${workGroup.id})}">registration</a>
                    <a th:href="@{/unsubscription/{id}(id=${workGroup.id})}">unsubscription</a>
                </td>
            </div>

            <td>
                <a th:href="@{/showWorkGroupUpdateForm/{id}(id=${workGroup.id})}">Update</a>
                <a th:href="@{/deleteWorkGroup/{id}(id=${workGroup.id})}">Delete</a>
            </td>
        </tr>

    </table>


</div>

<a href="/">Home page</a>
</body>
</html>